.wrapper
  %h1 HipsterMap
  #main
    #map
    #sidebar
      #selected_photo
        .content
          %h2{:rel => "photo_title"} Título
          %h3{:rel => "user"}
            Text
            %img{:src => "", :rel => "user_pic"}
          %img{:src =>"", :rel => "image"}

%footer