.wrapper
  %h1 HipsterMap
  #main
    #map
    #sidebar
      #selected_photo
        .content
          %h2{:rel => "photo_title"} Título
          %h3
            %span{:rel => "user"} Text
            %img{:src => "", :rel => "user_pic", :width => 352, :height => 352}
          %img{:src =>"", :rel => "image"}

%footer