%h1 HipsterMap
.wrapper
  #map
  #sidebar
    #selected_photo
      %h2{:rel => "photo_title"} Título
      %h3{:rel => "user"}
        Usuario
        = link_to "http://google.com"
      %img{:src =>"", :rel => "image"}

%footer